/* 
Supernova: #FBC40E
Rhino: #343F71
Twilight: #E9D8E4
*/

/* OVERALL PAGE */

html {
    font-family: 'Offside', sans-serif; 
}

.main {
    width: 100vw;
    height: 100vh;
}

.main, 
.player-area, 
.game-area, 
.cell, 
.player-info, 
.player-input,
.input-container, 
.emoji-list,
.emoji-selector,
.player-token,
.load-game,
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area,
.player-info,
.player-input,
.load-game,
.emoji-selector {
    flex-direction: column;
}

.player-area,
.game-area,
.player-info,
.player-token {
    height: 100%;
}

.player-info,
.input-container,
.emoji-selector,
.player-token {
    width: 100%;
}

.cell,
.emoji-button,
.player-options,
#deleteSavedGame,
#savedGame,
li {
    cursor: pointer;
}

.turn-status,
.player-input,
.player-wins,
.load-game,
input {
    font-size: xx-large;
}

.cell,
.player-token {
    font-size: xxx-large;
}

.turn-status,
.player-wins {
    text-align: center;
}

.player-icon,
.emoji-list,
.emoji-button,
.player-options,
#savedGame,
#deleteSavedGame,
input {
    border-radius: 1rem;
}

.emoji-button,
.player-options {
    background-color: #FBC40E;
    border: none;
    margin-top: 3%;
    font-family: 'Offside', sans-serif; 
    font-size: large;
}

/* GAME AREA */

.game-area {
    width: 60%;
    background-color: #7D94B5;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 65%;
    width: 70%;
}

.game-board div:nth-child(-n+6) {
    border-bottom: solid 4px #FBC40E; 
}

.game-board div:nth-child(3n+1) {
    border-right: solid 4px #FBC40E; 
}

.game-board div:nth-child(3n+2) {
    border-right: solid 4px #FBC40E; 
}

.turn-status {
    height: 10%;
    width: 60%;
    margin-top: 0;
}

.cell {
    height: 97%;
    line-height: 1rem;
} 

.load-game {
    height: 50%;
    z-index: 1;
    position: absolute;
}

#savedGame {
    border: 1px solid black;
    font-size: small;
    height: 30%;
    background-color: #FBC40E;
}

#deleteSavedGame {
    background-color: red;
    height: 30%;
    width: 8%;
}

/* PLAYER AREAS */

.player-area {
    width: 20%;
    background-color: #343F71;
}

.player-input {
    align-content: center;
    height: 80%;
    width: 80%;
}

.player-input-header {
    margin-bottom: 1%;
    margin-top: 10%;
}

.input-container {
    height: 15%;
}

input {
    height: 80%;
    width: 80%;
    font-family: 'Offside', sans-serif;
}

.emoji-button {
    background-image: url("assets/emoji-icon.png");
    background-size: contain;
    width: 30%;
    height: 12%;
}

.emoji-selector {
    height: 60%;
}

.emoji-list {
    width: 90%;
    height: 70%;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    overflow: auto;
    background-color: #E9D8E4;
}

.player-icon {
    width: 40%;
    height: 12%;
}

.player-wins {
    width: 60%;
    height: 10%;
}

.hidden {
    display: none;
}









