section, figure, h2, h1, .game-board, div, form, ul{
    border: solid 1px black;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.player-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.player-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.player-input {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 80%;
    font-size: xx-large;
}

.emoji-button {
    width: 30%;
    height: 12%;
}

.emoji-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    list-style: none;
    overflow-y: auto;
}

.player-icon {
    width: 40%;
    height: 12%;
}

.player-token {
    width: 100%;
    height: 100%;
}

.player-wins {
    width: 60%;
    height: 10%;
}

.turn-status {
    height: 10%;
    width: 60%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 60%;
    width: 70%;
}

.hidden {
    display: none;
}



